#root {
  main {
    background-color: light-dark(var(--backgroundSectionLight), var(--backgroundSectionDark));
    border-radius: 20px;
    box-shadow: 0 0 10px 0 var(--shadowMain);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
  }
  
  .areaContainer {
    background-color: var(--backgroundArea);
    border-radius: 15px;
    box-shadow: 0 0 10px 0 var(--shadowMain);
    color: var(--colorArea);
    overflow: hidden;
    padding: 8px;
  }

  .inputContainer {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto 1fr;
    gap: 8px;

    .svgWrapper {
      z-index: 1;
      cursor: pointer;
      grid-row: 1 / 2;
      align-self: center;

      svg {
        width: 100%;
        height: auto;
      }
    }

    textarea {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      resize: none;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      background-color: transparent;
      color: inherit;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }
  }
  
  .svgWrapper {
    svg {
      width: 100%;
      height: auto;
    }
  
    &.copy {
      height: 25px;

      svg {
        transition: fill 200ms ease-in-out;
        height: 100%;
        width: auto;
      }
    }

    &.active {
      svg {
        fill: #2ADDA1;
      }
    }

    &.load {
      height: 22px;
      svg {
        height: 100%;
        width: auto;
      }
    }
  
    &.preview {
      height: 100%;
      overflow-y: scroll;
      margin-top: -25px;
      padding-top: 25px;
      padding-bottom: 25px;
      box-sizing: border-box;
    }
  }
}