.colorSwitcher {
  display: flex;
  justify-content: end;
  gap: 5px;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .colorSwitcher {
    gap: 8px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}